extends layout

block content
  h1= title

  p Welcome to #{title}

  div.form
    form

      p
        label(for='name') Nome Completo
      p
        input(type='text' name='name')
      p
        label(for='social_name') Nome Social
      p
        input(type='text' name='social_name')
      p
        label(for='cpf') CPF
      p
        input(type='text' name='cpf')
      p
        label(for='birth') Data de Nascimento
      p
        input(type='text' name='birth')
      p
        label(for='address') Endereço para correspondência
      p
        input(type='text' name='address')
      p
        label(for='address') Município
      p
        input(type='text' name='name')
      p
        label(for='address') UF
      p
        input(type='text' name='name')
      p
        label(for='address') CEP
      p
        input(type='text' name='name')
      p
        label(for='address') Número do título de eleitor
      p
        input(type='text' name='name')
      p
        label(for='address') Zona Eleitoral
      p
        input(type='text' name='name')
      p
        label(for='address') Seção
      p
        input(type='text' name='name')
      p
        label(for='address') Domicílio Eleitoral
      p
        input(type='text' name='name')
      p
        label(for='address') Telefone
      p
        input(type='text' name='name')
      p
        label(for='address') Email
      p
        input(type='text' name='name')
      p
        label(for='address') Abono
      p
        input(type='text' name='name')
      p
        label(for='address') Como pode contribuir com o partido {área de atuação/graduação}
      p
        input(type='text' name='name')
      p
        label(for='address') Pode contribuir monetariamente? com quanto?
      p
        input(type='text' name='name')
